body {
	background-color: black;
	color: white;
	font-family: helvetica,calibre;
}

 .nav-item{
    text-align: right;
}


h1 {
	font-size: 96px;
    padding-top: 50px;
	font-family: helvetica-bold;
}

h2 {
	font-family : helvetica-bold;
}
	
